{% from  'macros.jinja2' import is_public, member, is_exception with context %}
---
title: API Reference
custom_edit_url: null
---

All members of {{module.modulename}} are defined in the top-level module.

Currently, the docs are a little funky, because cython doesn't expose Signtaure information that easily, and `pdoc`
isn't geared up to handle it. This may change in the future.

## Main Interface Classes
{% set SPECIAL_CLASSES = ['Schema', 'Options', 'ContainerReader', 'ContainerWriter', 'FileReader', 'FileWriter'] %}

{% for special in SPECIAL_CLASSES %}
{% with m = module.members[special] %}
{{ member(m, true) }}
{% endwith %}  
{% endfor %}


## Other Classes

{% for m in module.flattened_own_members if m.qualname not in SPECIAL_CLASSES| trim %}
{{ member(m, true) }}
{% endfor %}
